
<div class="user-container" id="{{user_id}}">
    <div class="user-info">
        <span> {{username}}, {{user_id}} 
            <!-- what are these double brakets for? -->
        </span>
    </div>
    <button class = "delete-button" id="delete-{{user_id}}">
        <img src="/static/images/icons/delete.png" class="delete">
    </button>
</div>